@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/*
  Please place styles into correct sections.
  Create a new section for newly added library styles and add it to the sections list.
  Do not place library styles in the custom styles section.
  Custom styles are loosely alphabetized(a-z by first letter only). Please keep it alphabetized for long term sanity.
  Sections:
    1. Theme styles
    2. Embla carousel styles (Library)
    3. Custom styles
    4. Pallete colors
    5. New Library styles
*/

/* 
START OF THEME STYLES
light theme currently set in layout.tsx, will need to adjust later for dynamic themes
*/

@media (prefers-color-scheme: theme-light) {
  :root {
    background-color: "F2F2F2"
  }
}

.theme-light {
  --brand-primary: #F95738;
  --brand-secondary: #31A69B;
  --brand-alternative: rgb(19, 120, 134);
  --background-site: rgb(249, 249, 249);
  --background-code: rgb(244, 244, 244);
  --text-body: rgb(54, 49, 61);
  --text-comment: rgb(99, 94, 105);
  --text-high-contrast: rgb(49, 49, 49);
  --text-medium-contrast: rgb(99, 94, 105);
  --text-low-contrast: rgb(116, 109, 118);
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --detail-low-contrast: rgb(240, 240, 242);
  --admonition-note: rgb(46, 109, 188);
  --admonition-warning: rgb(255, 196, 9);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 47, 112, 193;
  --brand-secondary-rgb-value: 116, 97, 195;
  --brand-alternative-rgb-value: 19, 120, 134;
  --background-site-rgb-value: 249, 249, 249;
  --background-code-rgb-value: 244, 244, 244;
  --text-body-rgb-value: 54, 49, 61;
  --text-comment-rgb-value: 99, 94, 105;
  --text-high-contrast-rgb-value: 49, 49, 49;
  --text-medium-contrast-rgb-value: 99, 94, 105;
  --text-low-contrast-rgb-value: 116, 109, 118;
  --detail-high-contrast-rgb-value: 192, 192, 192;
  --detail-medium-contrast-rgb-value: 234, 234, 234;
  --detail-low-contrast-rgb-value: 240, 240, 242;
  --admonition-note-rgb-value: 46, 109, 188;
  --admonition-warning-rgb-value: 255, 196, 9;
  --admonition-danger-rgb-value: 220, 38, 38;
}
.theme-dark {
  --brand-primary: rgb(138, 180, 248);
  --brand-secondary: rgb(193, 168, 226);
  --brand-alternative: rgb(136, 186, 191);
  --background-site: rgb(0, 0, 0);
  --background-code: rgb(12, 12, 12);
  --text-body: rgb(222, 222, 222);
  --text-comment: rgb(170, 170, 170);
  --text-high-contrast: rgb(230, 230, 230);
  --text-medium-contrast: rgb(202, 202, 202);
  --text-low-contrast: rgb(170, 170, 170);
  --detail-high-contrast: rgb(101, 101, 101);
  --detail-medium-contrast: rgb(25, 25, 25);
  --detail-low-contrast: rgb(21, 21, 21);
  --admonition-note: rgb(138, 180, 248);
  --admonition-warning: rgb(253, 186, 116);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 138, 180, 248;
  --brand-secondary-rgb-value: 193, 168, 226;
  --brand-alternative-rgb-value: 136, 186, 191;
  --background-site-rgb-value: 0, 0, 0;
  --background-code-rgb-value: 12, 12, 12;
  --text-body-rgb-value: 222, 222, 222;
  --text-comment-rgb-value: 170, 170, 170;
  --text-high-contrast-rgb-value: 230, 230, 230;
  --text-medium-contrast-rgb-value: 202, 202, 202;
  --text-low-contrast-rgb-value: 170, 170, 170;
  --detail-high-contrast-rgb-value: 101, 101, 101;
  --detail-medium-contrast-rgb-value: 25, 25, 25;
  --detail-low-contrast-rgb-value: 21, 21, 21;
  --admonition-note-rgb-value: 138, 180, 248;
  --admonition-warning-rgb-value: 253, 186, 116;
  --admonition-danger-rgb-value: 220, 38, 38;
}

/* 
START OF EMBLA CAROUSEL STYLES
*/
@media (min-width: 750px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}
@media (min-width: 1200px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}
.embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}
@media (min-width: 750px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}
@media (min-width: 1200px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}

.embla {
  max-width: 70rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.6rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 2rem;
  --slide-size-lg: calc(100% / 3);
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide__number {
  background-color: white;
  border-radius: 1.8rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--brand-primary);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--brand-primary);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

/*
END OF EMBLA CAROUSEL STYLES
*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*
  Custom styles
*/

.analysisCard {
  max-width: 80%;
  max-height: 80%;
}

.bannerImage {
  height: 10rem;
  width:  20rem;
}

.b-border {
  border-bottom: 1px solid #F95738;
}

.bt-border {
  border-bottom: 1px solid #F95738;
  border-top: 1px solid #F95738;
}

.completeFit {
  width: 100%;
  height: 100%;
}

.carouselImage {
  height: 8rem
}

.customAlert {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.isolate {
  isolation: isolate;
}

.headerText {
  font-size: 1.5rem;
  font-weight: 600;
}

.iframeContainer {
  position: relative;
  width: 75dvw;
  height: 100dvh;
  margin-top: 5%;
  border: 5px solid #f8f9fa;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.leftDivideHalf {
  margin-left: 50dvw;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.profileGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  gap: 1rem;
}

.panelTab {
  flex: 1 0 content;
}

.reactMarkdown {
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  h4 {
    font-size: 1rem;
    font-weight: 600;
  }

  h5 {
    font-size: 0.9rem;
    font-weight: 600;
  }

  h6 {
    font-size: 0.8rem;
    font-weight: 600;
  }

  p {
    margin: 0.5rem 0;
  }

  a {
    color: #007bff;
    text-decoration: underline;
  }

  ul {
    padding-left: 1rem;
  }

  ol {
    padding-left: 1rem;
  }

  blockquote {
    border-left: 5px solid #007bff;
    padding-left: 1rem;
    margin: 0.5rem 0;
  }

  pre {
    background-color: #f8f9fa;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.5rem 0;
  }

  code {
    background-color: #f8f9fa;
    padding: 0.1rem;
    border-radius: 5px;
  }

  img {
    max-width: 100%;
    border-radius: 5px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0.5rem 0;
  }

  th {
    border-bottom: 1px solid #dee2e6;
  }

  td {
    border-bottom: 1px solid #dee2e6;
    padding: 0.5rem;
  }
}

.rAlign {
  align-self: right;
  margin-left: 30%;
}

.resourceCard {
  width: 80%;
  height: 50%;
}

.shadowedBox {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.standardLink {
  color: #007bff;
  text-decoration: underline;
}

.sTextColor {
  color: #F95738;
}

.tableBorder {
  border: 1px solid #F95738;
}

.tableBorderDot {
  border: 2px dotted #F95738;
}

.uLink {
  text-decoration: underline;
  color: inherit;
}


/* 
  Pallete colors 
*/

.pal-yellow {
  color: #F0E442;
}

.pal-red {
  color: #DC267F;
}

.pal-black {
  color: #000000;
}

.pal-green {
  color: #117733;
}

.pal-blue {
  color: #648FFF;
}

.pal-orange {
  color: #FE6100;
}

.pal-gold {
  color: #FFB000;
}

.pal-purple {
  color: #785EF0;
}

.bg-pal-pastel {
  background: #FFF7DA;
}

.pal-border {
  border-color: #F95738;
}